.Profile {
     width: 100% !important;
     height: 100vh;
     background: linear-gradient(rgba(7, 23, 55, 0.8), rgba(7, 23, 55, 0.8)),
          url("../image/2.jpg");
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
}

.myPhotos {
     width: 200px;
     height: 200px;
     border-radius: 100%;
     border: 8px solid rgba(255, 255, 255, 0.5);
     overflow: hidden;
}

.myPhotos img {
     width: 100%;
     object-fit: cover;
}

.myIdentity {
     margin: 20px 0;
     text-align: center;
}

.myName {
     font-family: "Montserrat";
     text-transform: uppercase;
     color: #fff;
     font-size: 50px;
     font-weight: 300;
}

.myNameBold {
     font-weight: 500;
     color: #e3872d;
}

.mySkills {
     color: #fff;
     font-size: 24px;
     font-family: "Montserrat";
}

.bounce {
     position: absolute;
     bottom: 0;
     animation: bounce 2s infinite;
}

@keyframes bounce {
     0%,
     20%,
     50%,
     80%,
     100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
     }
     40% {
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
     }
     60% {
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
     }
}
